@font-face {
    font-family: 'Keep-Calm';
    src: url('KeepCalm-Medium.eot');
    src: url('KeepCalm-Medium.eot?#iefix') format('embedded-opentype'),
        url('KeepCalm-Medium.woff2') format('woff2'),
        url('KeepCalm-Medium.woff') format('woff'),
        url('KeepCalm-Medium.ttf') format('truetype'),
        url('KeepCalm-Medium.svg#KeepCalm-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lao-UI';
    src: url('LaoUI.eot');
    src: url('LaoUI.eot?#iefix') format('embedded-opentype'),
        url('LaoUI.woff2') format('woff2'),
        url('LaoUI.woff') format('woff'),
        url('LaoUI.ttf') format('truetype'),
        url('LaoUI.svg#LaoUI') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

